<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>Kvízová hra</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div id="login">
    <h2>Připojit se do hry</h2>
    <input type="text" id="nickname" placeholder="Přezdívka" maxlength="20">
    <button id="joinBtn">Připojit se</button>
    <div id="login-error" style="color:red;"></div>
  </div>

  <div id="game" style="display:none;">
    <h2>Hra začíná!</h2>
    <div id="players"></div>
    <div id="question-section" style="display:none;">
      <div id="question"></div>
      <div id="options"></div>
      <div id="timer"></div>
    </div>
    <div id="result"></div>
    <div id="score"></div>
    <div id="endResult"></div>
  </div>
  <button id="leaderboard" style="margin:auto;margin-top:40px">Výsledky her</button>

  <script src="/public/game.js"></script>
</body>
</html>
